@using System.Globalization
@using System.Text
@using IA2Assessment.Models
@using IA2Assessment.Models.Views
@model IA2Assessment.Models.Views.OrdersManageViewModel
@{
    ViewBag.Title = "Manage Orders";
    Layout = "_Layout";
}

<body>
<h1>Manage</h1>
<div>
    <table style="white-space:pre-wrap; word-wrap:break-word">
        <tr>
            <th>OrderID</th>
            <th>Order User</th>
            <th>Order Date</th>
            <th>Order Time</th>
            <th>Order Status</th>
            <th>Items</th>
        </tr>
        @foreach (OrdersManageViewModel.OrderView order in Model.OrdersDetails)
        {
            <tr>
                <th>@order.OrderId</th>
                <th>@order.OrderUserId</th>
                <th>@order.OrderDate.ToString(CultureInfo.CurrentCulture)</th>
                <th>@order.OrderTime.ToString()</th>
                <th>@order.OrderStatus</th>
                @{
                    StringBuilder sb = new StringBuilder();
                    foreach (MenuItem items in order.MenuItems)
                    {
                        sb.Append($"{items.ItemName}\n");
                    }
                }
                <th>@sb.ToString()</th>
                
            </tr>
        }
    </table>
</div>
</body>